* {
  --background-color: #f5f5f5;
  font-family: 'Ubuntu';
}

body {
  margin: 0rem;
  padding: 0rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.row-border {
  width: 100vw;
  background-color: #4c4c4c;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  font-size: 1rem;
  padding: 0rem;
  margin: 0rem;
  text-align: center;
}

.description {
  color: #CCCCCC;
  font-size: 0.875rem;
  text-align: center;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: stretch;
}

.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.page-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

}

.page_footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #16242f;
  color: #fff;
  padding: 1.875rem 0 1.875rem;
}

.col-xl-12,
.col-lg-12,
.col-md-12,
.col-sm-12,
.col-12 {
  flex: 0 0 12;
  width: calc(100% / 12 * 12);
}

.col-xl-11,
.col-lg-11,
.col-md-11,
.col-sm-11,
.col-11 {
  flex: 0 0 11;
  width: calc(100% / 12 * 11);
}

.col-xl-10,
.col-lg-10,
.col-md-10,
.col-sm-10,
.col-10 {
  flex: 0 0 10;
  width: calc(100% / 12 * 10);
}

.col-xl-9,
.col-lg-9,
.col-md-9,
.col-sm-9,
.col-9 {
  flex: 0 0 9;
  width: calc(100% / 12 * 9);
}

.col-xl-8,
.col-lg-8,
.col-md-8,
.col-sm-8,
.col-8 {
  flex: 0 0 8;
  width: calc(100% / 12 * 8);
}

.col-xl-7,
.col-lg-7,
.col-md-7,
.col-sm-7,
.col-7 {
  flex: 0 0 7;
  width: calc(100% / 12 * 7);
}

.col-xl-6,
.col-lg-6,
.col-md-6,
.col-sm-6,
.col-6 {
  flex: 0 0 6;
  width: calc(100% / 12 * 6);
}

.col-xl-5,
.col-lg-5,
.col-md-5,
.col-sm-5,
.col-5 {
  flex: 0 0 5;
  width: calc(100% / 12 * 5);
}

.col-xl-4,
.col-lg-4,
.col-md-4,
.col-sm-4,
.col-4 {
  flex: 0 0 4;
  width: calc(100% / 12 * 4);
}

.col-xl-3,
.col-lg-3,
.col-md-3,
.col-sm-3,
.col-3 {
  flex: 0 0 3;
  width: calc(100% / 12 * 3);
}

.col-xl-2,
.col-lg-2,
.col-md-2,
.col-sm-2,
.col-2 {
  flex: 0 0 2;
  width: calc(100% / 12 * 2);
}

.col-xl-1,
.col-lg-1,
.col-md-1,
.col-sm-1,
.col-1 {
  flex: 0 0 1;
  width: calc(100% / 12 * 1);
}

@media (min-width: 71.25rem) {
  .row {
    width: 71.25rem;
  }

  .col-xl-12 {
    flex: 0 0 12;
    width: calc(100% / 12 * 12);
  }

  .col-xl-11 {
    flex: 0 0 11;
    width: calc(100% / 12 * 12);
  }

  .col-xl-10 {
    flex: 0 0 10;
    width: calc(100% / 12 * 10);
  }

  .col-xl-9 {
    flex: 0 0 9;
    width: calc(100% / 12 * 9);
  }

  .col-xl-8 {
    flex: 0 0 8;
    width: calc(100% / 12 * 8);
  }

  .col-xl-7 {
    flex: 0 0 7;
    width: calc(100% / 12 * 7);
  }

  .col-xl-6 {
    flex: 0 0 6;
    width: calc(100% / 12 * 6);
  }

  .col-xl-5 {
    flex: 0 0 5;
    width: calc(100% / 12 * 5);
  }

  .col-xl-4 {
    flex: 0 0 4;
    width: calc(100% / 12 * 4);
  }

  .col-xl-3 {
    flex: 0 0 3;
    width: calc(100% / 12 * 3);
  }

  .col-xl-2 {
    flex: 0 0 2;
    width: calc(100% / 12 * 2);
  }

  .col-xl-1 {
    flex: 0 0 1;
    width: calc(100% / 12 * 1);
  }

  .col-xl-hidden {
    display: none;
  }

}

@media (max-width: 71.24rem) and (min-width:62rem) {
  /* lg*/

  .row {
    width: 60rem;
  }

  .row-wider {
    width: 62rem;
  }


  .col-lg-12 {
    flex: 0 0 12;
    width: calc(100% / 12 * 12);
  }

  .col-lg-11 {
    flex: 0 0 11;
    width: calc(100% / 12 * 12);
  }

  .col-lg-10 {
    flex: 0 0 10;
    width: calc(100% / 12 * 10);
  }

  .col-lg-9 {
    flex: 0 0 9;
    width: calc(100% / 12 * 9);
  }

  .col-lg-8 {
    flex: 0 0 8;
    width: calc(100% / 12 * 8);
  }

  .col-lg-7 {
    flex: 0 0 7;
    width: calc(100% / 12 * 7);
  }

  .col-lg-6 {
    flex: 0 0 6;
    width: calc(100% / 12 * 6);
  }

  .col-lg-5 {
    flex: 0 0 5;
    width: calc(100% / 12 * 5);
  }

  .col-lg-4 {
    flex: 0 0 4;
    width: calc(100% / 12 * 4);
  }

  .col-lg-3 {
    flex: 0 0 3;
    width: calc(100% / 12 * 3);
  }

  .col-lg-2 {
    flex: 0 0 2;
    width: calc(100% / 12 * 2);
  }

  .col-lg-1 {
    flex: 0 0 1;
    width: calc(100% / 12 * 1);
  }

  .col-lg-hidden {
    display: none;
  }
}


@media (max-width:61.9rem) and (min-width:45.5rem) {
  /* md*/

  .row {
    width: 45rem;
  }



  .col-md-12 {
    flex: 0 0 12;
    width: calc(100% / 12 * 12);
  }

  .col-md-11 {
    flex: 0 0 11;
    width: calc(100% / 12 * 12);
  }

  .col-md-10 {
    flex: 0 0 10;
    width: calc(100% / 12 * 10);
  }

  .col-md-9 {
    flex: 0 0 9;
    width: calc(100% / 12 * 9);
  }

  .col-md-8 {
    flex: 0 0 8;
    width: calc(100% / 12 * 8);
  }

  .col-md-7 {
    flex: 0 0 7;
    width: calc(100% / 12 * 7);
  }

  .col-md-6 {
    flex: 0 0 6;
    width: calc(100% / 12 * 6);
  }

  .col-md-5 {
    flex: 0 0 5;
    width: calc(100% / 12 * 5);
  }

  .col-md-4 {
    flex: 0 0 4;
    width: calc(100% / 12 * 4);
  }

  .col-md-3 {
    flex: 0 0 3;
    width: calc(100% / 12 * 3);
  }

  .col-md-2 {
    flex: 0 0 2;
    width: calc(100% / 12 * 2);
  }

  .col-md-1 {
    flex: 0 0 1;
    width: calc(100% / 12 * 1);
  }

  .col-md-hidden {
    display: none;
  }
}


@media (max-width:44.99rem) and (min-width:36rem) {
  /* sm*/

  .row {
    width: 33.75rem;
  }


  .col-sm-12 {
    flex: 0 0 12;
    width: calc(100% / 12 * 12);
  }

  .col-sm-11 {
    flex: 0 0 11;
    width: calc(100% / 12 * 12);
  }

  .col-sm-10 {
    flex: 0 0 10;
    width: calc(100% / 12 * 10);
  }

  .col-sm-9 {
    flex: 0 0 9;
    width: calc(100% / 12 * 9);
  }

  .col-sm-8 {
    flex: 0 0 8;
    width: calc(100% / 12 * 8);
  }

  .col-sm-7 {
    flex: 0 0 7;
    width: calc(100% / 12 * 7);
  }

  .col-sm-6 {
    flex: 0 0 6;
    width: calc(100% / 12 * 6);
  }

  .col-sm-5 {
    flex: 0 0 5;
    width: calc(100% / 12 * 5);
  }

  .col-sm-4 {
    flex: 0 0 4;
    width: calc(100% / 12 * 4);
  }

  .col-sm-3 {
    flex: 0 0 3;
    width: calc(100% / 12 * 3);
  }

  .col-sm-2 {
    flex: 0 0 2;
    width: calc(100% / 12 * 2);
  }

  .col-sm-1 {
    flex: 0 0 1;
    width: calc(100% / 12 * 1);
  }

  .col-sm-hidden {
    display: none;
  }
}

@media (max-width: 36rem) {
  /* */

  .row {
    width: 100%;
  }



  .col-12 {
    flex: 0 0 12;
    width: calc(100% / 12 * 12);
  }

  .col-11 {
    flex: 0 0 11;
    width: calc(100% / 12 * 12);
  }

  .col-10 {
    flex: 0 0 10;
    width: calc(100% / 12 * 10);
  }

  .col-9 {
    flex: 0 0 9;
    width: calc(100% / 12 * 9);
  }

  .col-8 {
    flex: 0 0 8;
    width: calc(100% / 12 * 8);
  }

  .col-7 {
    flex: 0 0 7;
    width: calc(100% / 12 * 7);
  }

  .col-6 {
    flex: 0 0 6;
    width: calc(100% / 12 * 6);
  }

  .col-5 {
    flex: 0 0 5;
    width: calc(100% / 12 * 5);
  }

  .col-4 {
    flex: 0 0 4;
    width: calc(100% / 12 * 4);
  }

  .col-3 {
    flex: 0 0 3;
    width: calc(100% / 12 * 3);
  }

  .col-2 {
    flex: 0 0 2;
    width: calc(100% / 12 * 2);
  }

  .col-1 {
    flex: 0 0 1;
    width: calc(100% / 12 * 1);
  }

  .col-hidden {
    display: none;
  }
}



/* Start of Header*/
.company-name {
  display: inline;
  font-size: 1.5rem
}

.logo-image {
  display: inline;
  width: 3.125rem;
  padding-left: 0.313rem;

}

.logo {
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

/* End of Header*/

/* Start of banner*/
.banner {
  width: 100%;
  position: relative;
}

/* End of Banner*/
h1,
h2,
h3,
h4 {
  text-align: center;
  color: #000000;
}

.highlight {
  color: #4bbee4;
}

/* footer */
.person-block {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 0.75rem;
}

.image-block {
  padding:  1.25rem;
  border-bottom: 0.125rem solid #4bbee4;
}

.person-image {
  width: 3.125rem;
  border-radius: 50%;
  display: inline-block;
}

.person-description {
  display: inline-block;
  padding: 1.25rem;
  border-bottom: 0.125rem solid #CCCCCC;
}

.person-description h2 {
  color: #fff;
  padding: 0rem;
  margin: 0rem;
  text-align: left;
  font-size: 1.125rem;
  font-weight: lighter;
}

.person-description p {

  color: #fff;
  padding: 0rem;
  margin: 0rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 100;
  font-style: italic;
}

.footer-card {
  padding: 0.625rem 0.938rem;
}

.footer-header-1 {
  text-align: left;
  color: #fff;
  font-size: 1.125rem;
  margin: 0.938rem 0rem;
  padding-bottom: 0.938rem;
}


.arrow-down {
  position: relative;
  left: 1.875rem;
  top: -0.938rem;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid blue;
}

.footer-bottom-style-1 {
  border-bottom: 0.125rem solid #21c183;
}


.footer-bottom-style-2 {
  border-bottom: 0.125rem solid #f8ba0d;
}


.footer-bottom-style-3 {
  border-bottom: 0.125rem solid #de6262;
}


.footer-bottom-style-4 {
  border-bottom: 0.125rem solid #1bade6;
}

.border-top-color-style-1 {
  border-top-color: #21c183;
}

.border-top-color-style-2 {
  border-top-color: #f8ba0d;

}

.border-top-color-style-3 {
  border-top-color: #de6262;
}

.border-top-color-style-4 {
  border-top-color: #1bade6;
}

.flickr-photo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  row-gap: 1.25rem;
}

.flickr-photo-img {
  width: 4.375rem;
  height: 4.375rem;
}

.tweet-card {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 0.938rem;
}

.tweet-content {
  font-size: 0.75rem;
  text-align: left;
}

.input-mail {
  font-size: 1.125rem;
  padding: 0.938rem;
  background-color: #de6262;
  border: none;
  color: #fff;
  width: calc(100% - 3.25rem);
}


::placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #fff;
}

.newsletter-form {
  display: flex;
}

.submit-btn {
  height: 3.188rem;
  width:  3.188rem;
  background-color: yellow;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 0rem;
  cursor: pointer;
}

.submit-icon {
  height: 1.875rem;
  width: 1.875rem;
  background-color: yellow;
}

/* Nav menu*/
.nav-menu {
  color: rgb(252, 252, 252);

}

.nav-menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0.063rem;
  margin: 0rem;
}

/* Banner */

.banner {
  background-color: #14e95446;
}

.bg1 {
  background-color: #127a3d;
  width: 40%;
  ;
}

.bg2 {
  background-color: #eea60b;
  width: 40%;
}

.bg3 {
  background-color: #ec1313;
  width: 40%;
}

.bg4 {
  background-color: #09a6e4;
  width: 40%;
}

.bg5 {
  background-color: #1779e9;
  width: 40%;

}

.arrow-right:after {
  content: '\25BA';

}

.child1 {
  display: flex;
  border-radius: 50%;
  background-color: #2c2c1f;
  margin-left: 1.875rem;
  margin-top: 0.313rem;
  padding: 0.25rem;
}

.child2 {
  display: flex;
  border-radius: 50%;
  background-color: #c22f0a;
  margin-left: 1.875rem;
  margin-top: 0.313rem;
  padding: 0.25rem;
}

.child3 {
  display: flex;
  border-radius: 50%;
  background-color: #0a94d4;
  margin-left: 1.875rem;
  margin-top: 0.313rem;
  padding: 0.25rem;
}

.metroclics {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  margin-right: 3.75rem;
}

.menu {
  padding-right: 3.125rem;
}

.small-icon {
  border-style: solid;
  padding-bottom: 0.188rem;
  border-color: #c0cc1b;

}

.small-text {
  font-size: 0.75rem;
  text-align: center;
  color: gray;
}

.small-icon1 {
  border-style: solid;
  padding: 0.313rem;
  border-color: #91ff01;
}

.small-icon2 {
  border-style: solid;
  padding:  0.313rem;
  border-color: #ff2c2c;
}

.small-icon3 {
  border-style: solid;
  padding:  0.313rem;
  border-color: #0084ff;
}


.texts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.border {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0084ff;
  color: white;

}


.tab-content-img {
  width: 3.125rem;
  height: 3.125rem;
  ;
}

.tab-content {
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: center;
  padding: 1.25rem;
  row-gap: 1.875rem;
}

.tab-row {

  display: flex;
  gap: 0.625rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: space-around;
}

.nav-menu-list {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: space-around;
  list-style: none;
  margin: 0rem;
  padding: 0rem;
  width: fit-content;
}

.nav-menu-item {
  display: block;
  padding: 1.25rem 1.25rem 0 1.25rem;
  text-align: center;
  width: 3.125rem;
  color: #fff;
}

.nav-menu-item p {
  font-size: 0.875rem;
  float: left;
  width: 100%;
}
.nav-menu-item p::after {
  content:'>'
}


.menu-icon {
  border-radius: 50%;
  width: 1.563rem;
  height: 1.563rem;
}

.menu-icon2 {
  font-size: 3.125rem;
  color: #fff;
  display: block;
  background: #166ba2;
  width: fit-content;
  float: right;
}

.card-image {
  border: 0.313rem solid;
  padding: 1.25rem;
}

.bg1 {
  background-color: #21c183;
}

.bg2 {
  background-color: #f8ba0d;
}

.bg3 {
  background-color: #de6262;
}

.bg4 {
  background-color: #1bade6;
}

.bg5 {
  background-color: #166ba2;
}



.border-color-1 {
  border-color: #f8ba0d;
}



.border-color-2 {
  border-color: #25c389;
}

.border-color-3 {
  border-color: #ef6370;
}

.border-color-4 {
  border-color: #1bb3da;
}

.card-style-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1.25rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.card-style-1-image {
  width: 100%;
  height: 9.375rem;
}

.card-style-1 h3 {
  font-weight: bold;
}

.card-style-1 p {
  padding: 0rem;
  margin: 0rem;
  text-align: center;
  color: #6d6d6d;
}


.card-style-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1.25rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.card-style-2-image {
  width: 100%;
  height: 15.625rem;
}

.card-date {

  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #d8605f;
  padding: 0.313rem;
}

.day {
  font-size: large;
}

.month-year {
  font-size: small;
}

.card-style-2-description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: #19b2de;
  padding: 0.313rem 0rem;
  width: 100%;
}

.card-style-2-description h3 {
  margin: 0rem;
  padding: 0rem;
  color: #fff;
}

.card-style-2-description .description {
  padding-left: 0.313rem;
}

.card-style-2-description span {
  color: #fff;
  text-align: left;
  display: block;
}

.card-style-2-description .icon {
  padding-right: 0.313rem;
}

.card-style-3 {
  position: relative;
  margin: 0.625rem;
}

.overlay {
  position: absolute;
  left: 0rem;
  top: 0rem;
  background: #1bade6d4;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}

.card-style-3-description {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  background: #1bade6d4;
  width: 100%;
  z-index: 2;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
}

.card-style-3-description h3 {
  margin: 0rem;
  padding: 0rem;
  color: #fff;
}

.card-style-3-description .description {
  padding-left: 0.313rem;
}

.card-style-3-description span {
  color: #fff;
  text-align: left;
  display: block;
}

.card-style-3-description .icon {
  padding-right: 0.313rem;
}

.card-style-3-image {
  width: 100%;
  height: 15.625rem;
}

.card-style-3:hover .overlay {
  display: block;
}

.thank-about-containera {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1.875rem;
}

.tab-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-content: last baseline;
  width: fit-content;
}

.tab-bar-item {
  border: #d5d5d5 solid 0.063rem;
  padding: 0.313rem 1.25rem;
  margin: 0rem;
  border-radius: 0rem;
  cursor: pointer;
}



.tab-bar-item-active {
  background: #aaaaaa;
  border-bottom: 0rem;
  display: inherit;
}


.active {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  gap: 0.938rem;
  border: #d5d5d5 solid 0.063rem;
}

.tab-description {
  color: #6d6d6d
}

.article-containera {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1.25rem;
}

.article-title {

  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background: #1bade6;
  color: #fff;
}

.article-title h3 {
  text-align: left;
  color: #fff;
  padding-left: 1.563rem;
}

.article-image {
  padding: 0.625rem;
  cursor: pointer;
  color: #fff;
}

.article {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.article-information {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.article-information h4 {
  margin: 0rem;
  padding-top: 0.313rem;
  text-align: left;
}

.article-content {
  font-size: 0.875rem;
  color: #6d6d6d;
  ;
  padding: 0rem;
  margin: 0rem;
  margin-top: 0.313rem;
}

.hidden-content {
  display: none;
}

.logo-containera {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: baseline;
  justify-content: space-between;
  padding: 3.125rem 0rem;
}

.logo-containera img {
  height: 3.125rem;
}

.description2 {
  color: #CCCCCC;
  font-size: 0.875rem;
  text-align: left;
}

.bannerHolder {
  position: relative;
}

.title-style-1 {
  border-left: #166ba2 0.625rem solid;
  left: 9.375rem;
  font-size: 1.75rem;
  top: 3.75rem;
  position: absolute;
  background: #eff5fc;
  padding: 0.625rem 1rem;
  color: #000;
}

.title-style-2 {
  border-left: #d8605f 0.625rem solid;
  left: 9.375rem;
  font-size: 1.75rem;
  top: 6.875rem;
  position: absolute;
  background: #eff5fc;
  padding: 0.625rem 1.25rem;
  color: #000;

}

.title-style-3 {
  border-left: #f8ba0d 0.625rem solid;
  left: 9.375rem;
  font-size: 1.75rem;
  top: 9.875rem;
  position: absolute;
  background: #eff5fc;
  padding: 0.625rem 1.25rem;
  color: #000;
}

.btn-1 {
  left: 0rem;
  top: 0rem;
  position: absolute;
  height: calc(100% - 2.813rem);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

}

.btn-2 {
  right:  0rem;
  top:  0rem;
  position: absolute;
  height: calc(100% - 2.813rem);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.svg-bg {
  background: var(--background-color);
  height: 3.125rem;
  width: 3.125rem;
  position: relative;
}

.cyclic {
  border-radius: 50%;
  border: 0.2rem solid #fff;
}

.social-media-list {
  display: flex;
  gap: 0.1rem;

}

.image-tweet-block svg {
  border-radius: 50%;
}

@media (max-width:61.9rem) and (min-width:45.5rem) {

  .logo-containera img {
    height: 1.563rem;
  }
}

@media (max-width:44.99rem) and (min-width:36rem) {

  .thank-about-containera {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 1.875rem;
  }

  .logo-containera {
    display: none;
  }
}


@media (max-width:35.938rem) {

  .thank-about-containera {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 1.875rem;
  }

  .logo-containera {
    display: none;
  }
}