* {
  --background-color: #fff;
  font-family: 'Ubuntu';
}

a {
  color: inherit;
  text-decoration: none;
}
.row-border {
  width: 100vw;
  background-color: #4c4c4c;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: stretch;
}

.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.page-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

}

.page_footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #16242f;
  color: #fff;
  padding: 30px 0 30px;
}

.col-xl-12,
.col-lg-12,
.col-md-12,
.col-sm-12,
.col-12 {
  flex: 0 0 12;
  width: calc(100% / 12 * 12);
}

.col-xl-11,
.col-lg-11,
.col-md-11,
.col-sm-11,
.col-11 {
  flex: 0 0 11;
  width: calc(100% / 12 * 11);
}

.col-xl-10,
.col-lg-10,
.col-md-10,
.col-sm-10,
.col-10 {
  flex: 0 0 10;
  width: calc(100% / 12 * 10);
}

.col-xl-9,
.col-lg-9,
.col-md-9,
.col-sm-9,
.col-9 {
  flex: 0 0 9;
  width: calc(100% / 12 * 9);
}

.col-xl-8,
.col-lg-8,
.col-md-8,
.col-sm-8,
.col-8 {
  flex: 0 0 8;
  width: calc(100% / 12 * 8);
}

.col-xl-7,
.col-lg-7,
.col-md-7,
.col-sm-7,
.col-7 {
  flex: 0 0 7;
  width: calc(100% / 12 * 7);
}

.col-xl-6,
.col-lg-6,
.col-md-6,
.col-sm-6,
.col-6 {
  flex: 0 0 6;
  width: calc(100% / 12 * 6);
}

.col-xl-5,
.col-lg-5,
.col-md-5,
.col-sm-5,
.col-5 {
  flex: 0 0 5;
  width: calc(100% / 12 * 5);
}

.col-xl-4,
.col-lg-4,
.col-md-4,
.col-sm-4,
.col-4 {
  flex: 0 0 4;
  width: calc(100% / 12 * 4);
}

.col-xl-3,
.col-lg-3,
.col-md-3,
.col-sm-3,
.col-3 {
  flex: 0 0 3;
  width: calc(100% / 12 * 3);
}

.col-xl-2,
.col-lg-2,
.col-md-2,
.col-sm-2,
.col-2 {
  flex: 0 0 2;
  width: calc(100% / 12 * 2);
}

.col-xl-1,
.col-lg-1,
.col-md-1,
.col-sm-1,
.col-1 {
  flex: 0 0 1;
  width: calc(100% / 12 * 1);
}

@media (min-width:1140px) {
  .row {
    width: 1140px;
  }

  .col-xl-12 {
    flex: 0 0 12;
    width: calc(100% / 12 * 12);
  }

  .col-xl-11 {
    flex: 0 0 11;
    width: calc(100% / 12 * 12);
  }

  .col-xl-10 {
    flex: 0 0 10;
    width: calc(100% / 12 * 10);
  }

  .col-xl-9 {
    flex: 0 0 9;
    width: calc(100% / 12 * 9);
  }

  .col-xl-8 {
    flex: 0 0 8;
    width: calc(100% / 12 * 8);
  }

  .col-xl-7 {
    flex: 0 0 7;
    width: calc(100% / 12 * 7);
  }

  .col-xl-6 {
    flex: 0 0 6;
    width: calc(100% / 12 * 6);
  }

  .col-xl-5 {
    flex: 0 0 5;
    width: calc(100% / 12 * 5);
  }

  .col-xl-4 {
    flex: 0 0 4;
    width: calc(100% / 12 * 4);
  }

  .col-xl-3 {
    flex: 0 0 3;
    width: calc(100% / 12 * 3);
  }

  .col-xl-2 {
    flex: 0 0 2;
    width: calc(100% / 12 * 2);
  }

  .col-xl-1 {
    flex: 0 0 1;
    width: calc(100% / 12 * 1);
  }

}

@media (max-width:1139px) and (min-width:992px) {
  /* lg*/

  .row {
    width: 960px;
  }

  .row-wider {
    width: 992px;
  }


  .col-lg-12 {
    flex: 0 0 12;
    width: calc(100% / 12 * 12);
  }

  .col-lg-11 {
    flex: 0 0 11;
    width: calc(100% / 12 * 12);
  }

  .col-lg-10 {
    flex: 0 0 10;
    width: calc(100% / 12 * 10);
  }

  .col-lg-9 {
    flex: 0 0 9;
    width: calc(100% / 12 * 9);
  }

  .col-lg-8 {
    flex: 0 0 8;
    width: calc(100% / 12 * 8);
  }

  .col-lg-7 {
    flex: 0 0 7;
    width: calc(100% / 12 * 7);
  }

  .col-lg-6 {
    flex: 0 0 6;
    width: calc(100% / 12 * 6);
  }

  .col-lg-5 {
    flex: 0 0 5;
    width: calc(100% / 12 * 5);
  }

  .col-lg-4 {
    flex: 0 0 4;
    width: calc(100% / 12 * 4);
  }

  .col-lg-3 {
    flex: 0 0 3;
    width: calc(100% / 12 * 3);
  }

  .col-lg-2 {
    flex: 0 0 2;
    width: calc(100% / 12 * 2);
  }

  .col-lg-1 {
    flex: 0 0 1;
    width: calc(100% / 12 * 1);
  }

  .col-lg-hidden {
    display: none;
  }
}


@media (max-width:991px) and (min-width:720px) {
  /* md*/

  .row {
    width: 720px;
  }



  .col-md-12 {
    flex: 0 0 12;
    width: calc(100% / 12 * 12);
  }

  .col-md-11 {
    flex: 0 0 11;
    width: calc(100% / 12 * 12);
  }

  .col-md-10 {
    flex: 0 0 10;
    width: calc(100% / 12 * 10);
  }

  .col-md-9 {
    flex: 0 0 9;
    width: calc(100% / 12 * 9);
  }

  .col-md-8 {
    flex: 0 0 8;
    width: calc(100% / 12 * 8);
  }

  .col-md-7 {
    flex: 0 0 7;
    width: calc(100% / 12 * 7);
  }

  .col-md-6 {
    flex: 0 0 6;
    width: calc(100% / 12 * 6);
  }

  .col-md-5 {
    flex: 0 0 5;
    width: calc(100% / 12 * 5);
  }

  .col-md-4 {
    flex: 0 0 4;
    width: calc(100% / 12 * 4);
  }

  .col-md-3 {
    flex: 0 0 3;
    width: calc(100% / 12 * 3);
  }

  .col-md-2 {
    flex: 0 0 2;
    width: calc(100% / 12 * 2);
  }

  .col-md-1 {
    flex: 0 0 1;
    width: calc(100% / 12 * 1);
  }

  .col-md-hidden {
    display: none;
  }
}


@media (max-width:719px) and (min-width:576px) {
  /* sm*/

  .row {
    width: 540px;
  }


  .col-sm-12 {
    flex: 0 0 12;
    width: calc(100% / 12 * 12);
  }

  .col-sm-11 {
    flex: 0 0 11;
    width: calc(100% / 12 * 12);
  }

  .col-sm-10 {
    flex: 0 0 10;
    width: calc(100% / 12 * 10);
  }

  .col-sm-9 {
    flex: 0 0 9;
    width: calc(100% / 12 * 9);
  }

  .col-sm-8 {
    flex: 0 0 8;
    width: calc(100% / 12 * 8);
  }

  .col-sm-7 {
    flex: 0 0 7;
    width: calc(100% / 12 * 7);
  }

  .col-sm-6 {
    flex: 0 0 6;
    width: calc(100% / 12 * 6);
  }

  .col-sm-5 {
    flex: 0 0 5;
    width: calc(100% / 12 * 5);
  }

  .col-sm-4 {
    flex: 0 0 4;
    width: calc(100% / 12 * 4);
  }

  .col-sm-3 {
    flex: 0 0 3;
    width: calc(100% / 12 * 3);
  }

  .col-sm-2 {
    flex: 0 0 2;
    width: calc(100% / 12 * 2);
  }

  .col-sm-1 {
    flex: 0 0 1;
    width: calc(100% / 12 * 1);
  }
}

@media (max-width:575px) {
  /* */

  .row {
    width: 100%;
  }



  .col-12 {
    flex: 0 0 12;
    width: calc(100% / 12 * 12);
  }

  .col-11 {
    flex: 0 0 11;
    width: calc(100% / 12 * 12);
  }

  .col-10 {
    flex: 0 0 10;
    width: calc(100% / 12 * 10);
  }

  .col-9 {
    flex: 0 0 9;
    width: calc(100% / 12 * 9);
  }

  .col-8 {
    flex: 0 0 8;
    width: calc(100% / 12 * 8);
  }

  .col-7 {
    flex: 0 0 7;
    width: calc(100% / 12 * 7);
  }

  .col-6 {
    flex: 0 0 6;
    width: calc(100% / 12 * 6);
  }

  .col-5 {
    flex: 0 0 5;
    width: calc(100% / 12 * 5);
  }

  .col-4 {
    flex: 0 0 4;
    width: calc(100% / 12 * 4);
  }

  .col-3 {
    flex: 0 0 3;
    width: calc(100% / 12 * 3);
  }

  .col-2 {
    flex: 0 0 2;
    width: calc(100% / 12 * 2);
  }

  .col-1 {
    flex: 0 0 1;
    width: calc(100% / 12 * 1);
  }

}



/* Start of Header*/
.company-name {
  display: inline;
}

.logo {
  display: inline;
  width: 50px
}

/* End of Header*/

/* Start of banner*/
.banner {
  width: 100%;
  max-height: 250px;
}

/* End of Banner*/
h1,
h2,
h3,
h4 {
  text-align: center;
  color: #4c4c4c;
}

.highlight {
  color: #4bbee4;
}

/* footer */
.person-block {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 12px;
}

.image-block {
  padding: 20px;
  border-bottom: 2px solid #4bbee4;
}

.person-image {
  width: 50px;
  border-radius: 50%;
  display: inline-block;
}

.person-description {
  display: inline-block;
  padding: 20px;
  border-bottom: 2px solid #CCCCCC;
}

.person-description h2 {
  color: #fff;
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 18px;
  font-weight: lighter;
}

.person-description p {

  color: #fff;
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
}

.footer-card {
  padding: 10px 15px;
}

.footer-header-1 {
  text-align: left;
  color: #fff;
  font-size: 18px;
  margin: 10px 0px;
  padding-bottom: 10px;
}


.arrow-down {
  position: relative;
  left: 30px;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid blue;
}

.footer-bottom-style-1 {
  border-bottom: 2px solid #21c183;
}


.footer-bottom-style-2 {
  border-bottom: 2px solid #f8ba0d;
}


.footer-bottom-style-3 {
  border-bottom: 2px solid #de6262;
}


.footer-bottom-style-4 {
  border-bottom: 2px solid #1bade6;
}

.border-top-color-style-1 {
  border-top-color: #21c183;
}

.border-top-color-style-2 {
  border-top-color: #f8ba0d;

}

.border-top-color-style-3 {
  border-top-color: #de6262;
}

.border-top-color-style-4 {
  border-top-color: #1bade6;
}

.flickr-photo {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

.flickr-photo-img {
  width: 70px;
  height: 70px;
}

.tweet-card {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.tweet-content {
  font-size: 12px;
}

.input-mail {
  font-size: 18px;
  padding: 15px;
  background-color: #de6262;
  border: none;
  color: #fff;
  width: calc(100% - 52px);
}


::placeholder {
  color: #fff;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #fff;
}

.newsletter-form {
  display: flex;
}

.submit-btn {
  height: 51px;
  width: 51px;
  background-color: yellow;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 0px;
  cursor: pointer;
}

.submit-icon {
  height: 30px;
  width: 30px;
  background-color: yellow;
}

/* Nav menu*/
.nav-menu {
  background-color: rgb(51, 51, 51);
  color: rgb(252, 252, 252);
}

.nav-menu-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: .1px;
  margin: 0px;
}


/* Banner */

.banner{
background-color: #00000046;
}

.bg1{
  background-color: #127a3d;
  width: 40%;
}
.bg2{
  background-color: #eea60b;
  width: 40%;
}

.bg3{
  background-color: #ec1313;
  width: 40%;
}

.bg4{
  background-color: #09a6e4;
  width: 40%;
}

.bg5{
  background-color: #1779e9;
  width: 40%;
  
}

.arrow_small_right{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent rgb(150, 42, 42) transparent transparent;
}